* {
  -webkit-user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body > div {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: hidden;
}

.prevent-line-break {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Global UI */
.i-app{color: #bcc726;}
.i-default{color: #bcc726;}
#ui-view{
    padding:0px 10px;
}

.logo-icon{
    float: left;
    position: relative;
    left: -30px;
    opacity: 0.8;
}

#reduce-window-button{margin-right: 10px;}

#close-window-button:HOVER{background-color: rgba(207, 0, 0, 0.78);}
#reduce-window-button:HOVER{background-color: rgba(74, 186, 207, 0.78);}
.tab-navbar {
  -webkit-app-region: no-drag;
  color:white !important;
}
.page-header{
    margin-top: 20px;
    font-style: italic;
    border-bottom: 1px dashed #ddd;
}

/* Couleur icon Manager */
.i-see{color: #ccdb3b;}
.i-download{color: #bcc726;}
.i-str{color: #95a020;}

/* Saison et titre épisode */
.season-and-episode-identifier{
    color:#aaa;
}

/* Vue des réglages */
#reglages-content .btn-center {dispay:block;margin-right: auto;margin-left: auto;}

/* Custom Toast */
.md-toast.error {
    background-color: darkred;
}

.md-toast.success {
    background-color: green;
}