<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Auto Download Manager</h1>
                <h4>Auto Download Manager est un outil qui permet de gérer vos séries automatiquement.</h4>
                <br/>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img style="box-shadow: 0 0 40px #000000; max-width: 90%;" src="{{ site.link_img }}" class="img-responsive">
                <br />
                <br />
            </div>
            <div class="col-sm-3 text-left col-sm-offset-2 hidden-xs">
              <a class="btn btn-download btn-lg" href="{{ site.link_win64 }}"><i class="fa fa-download"> Windows 64bit</i></a>
            </div>
            <div class="col-sm-2 text-center hidden-xs">
              <a class="btn btn-download btn-lg" href="{{ site.link_osx }}"><i class="fa fa-download"> OSX</i></a>
            </div>
            <div class="col-sm-3 text-right hidden-xs">
              <a class="btn btn-download btn-lg" href="{{ site.link_linux64 }}"><i class="fa fa-download"> Linux 64bit</i></a>
            </div>
            <div class="col-sm-3 text-left col-sm-offset-2 hidden-xs">
              <a class="btn btn-download btn-lg" href="{{ site.link_win32 }}"><i class="fa fa-download"> Windows 32bit</i></a>
            </div>
            <div class="col-sm-2 text-center hidden-xs">
            </div>
            <div class="col-sm-3 text-right hidden-xs">
              <a class="btn btn-download btn-lg" href="{{ site.link_linux32 }}"><i class="fa fa-download"> Linux 32bit</i></a>
            </div>

            <div class="visible-xs">
              <a class="btn btn-download btn-lg" href="{{ site.link_win64 }}"><i class="fa fa-download"> Windows 64bit</i></a>
              <a class="btn btn-download btn-lg" href="{{ site.link_win32 }}"><i class="fa fa-download"> Windows 32bit</i></a>
              <a class="btn btn-download btn-lg" href="{{ site.link_osx }}"><i class="fa fa-download"> OSX</i></a>
              <a class="btn btn-download btn-lg" href="{{ site.link_linux64 }}"><i class="fa fa-download"> Linux 64bit</i></a>
              <a class="btn btn-download btn-lg" href="{{ site.link_linux32 }}"><i class="fa fa-download"> Linux 32bit</i></a>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
