<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Auto Download Manager</h1>
                <h4>Auto Download Manager est un outil qui permet de gérer vos séries automatiquement.</h4>
                <br/>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img style="box-shadow: 0 0 40px #000000; max-width: 90%;" src="http://img11.hostingpics.net/pics/479031687474703a2f2f692e696d6775722e636f6d2f4b6d5657576a482e706e67.png" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
