@import "variables";

body {
  margin: 0;
  padding: 0;
  font-family: @mainFontFamily;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: transparent;
  line-height: 1;
  color: @black;
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

button {
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.app {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: auto;
  text-rendering: optimizeLegibility;

  a {
    color: #00b0f4;
    transition: .05s;
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }
}

.flex-vertical {
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
}

.flex-horizontal {
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
}

.flex-spacer {
  -webkit-box-flex: 1;
  flex: 1;
}

.flex-vertical > .flex-spacer {
  min-height: 1px;
}

@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 500;
  src: url(./assets/whitney-normal.woff) format('woff')
}

@import "menusWrapper";
@import "toolbar";
@import "leftWrapper";
@import "scroller";
@import "rightWrapper";

.avatar-small {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  border-radius: 20px;
  float: left;
  margin-top: 6px;
  margin-right: 10px;
}
