<md-dialog>
  <md-dialog-content class="sticky-container" style="padding: 0">
    <md-subheader class="md-sticky-no-effectc md-hue-2 md-accent" style="margin: 0">Changement du nom pour la recherche</md-subheader>
    <div style="padding: 0 24px">
      <md-content layout-padding style="width: 435px; padding-top: 27px">
        <md-input-container class="md-icon-float">
          <label>Nom d'origine</label>
          <md-icon></md-icon>
          <input ng-model="origin" type="text" disabled="disabled">
        </md-input-container>
        <md-input-container class="md-icon-float">
          <label>Torrent</label>
          <md-icon style="font-size: 24px" md-font-icon="fa fa-cloud-download i-download"></md-icon>
          <input ng-model="torrentname" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float">
          <label>Sous-titres</label>
          <md-icon style="font-size: 24px" md-font-icon="fa fa-align-center i-str"></md-icon>
          <input ng-model="subname" type="text">
        </md-input-container>
      </md-content>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()" class="md-raised" style="margin-right: 10px">
      Annuler
    </md-button>
    <md-button ng-click="ok()" class="md-raised md-accent">
      Enregistrer
    </md-button>
  </div>
</md-dialog>