<md-bottom-sheet class="md-list md-has-header">
  <md-subheader class="custom-subheader">S{{episode.season | numberFixedLen:2}}E{{episode.episode | numberFixedLen:2}} - {{episode.title}}</md-subheader>
  <div style="font-size: 13px; padding: 0 16px">
    <p>{{episode.description}}</p>
  </div>
  <md-list>
    <md-list-item>
      <md-button class="md-list-item-content" ng-click="seenEpisode()">
        <md-icon md-font-icon="fa fa-eye" class="i-see"></md-icon>
        <span class="md-inline-list-icon-label">Marquer comme vu</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-list-item-content" ng-click="downloadEpisode()">
        <md-icon md-font-icon="fa fa-cloud-download" class="i-download"></md-icon>
        <span class="md-inline-list-icon-label">Télécharger l'épisode</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-list-item-content" ng-click="downloadStr()">
        <md-icon md-font-icon="fa fa-align-center" class="i-str"></md-icon>
        <span class="md-inline-list-icon-label">Télécharger sous-titre</span>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>