<div class="page-header">
  <h1 style="margin-top: 0">Auto Download Manager</h1>
</div>

<div>
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Mes séries en retard">
                <md-content class="md-padding">
                    <div ng-repeat="show in episodesUnseen.shows track by $index">
                        <h4>
                            <a style="cursor: pointer" ng-click="changeTarget($event, show.title)">> {{show.title}}</a>
                        </h4>
                        <ul style="-webkit-columns: 2">
                            <li ng-repeat="unseen in show.unseen" class="prevent-line-break">
                                <span ng-click="seenEpisode($parent.$index, $index)" style="cursor: pointer">
                                    <i class="fa fa-eye i-see"></i>
                                </span>
                                &nbsp;
                                <span ng-click="downloadEpisode(unseen)" style="cursor: pointer">
                                    <i class="fa fa-cloud-download i-download"></i>
                                </span>
                                &nbsp;
                                <span ng-click="downloadStr(unseen)" style="cursor: pointer">
                                    <i class="fa fa-align-center i-str"></i>
                                </span>
                                &nbsp;
                                <span class="season-and-episode-identifier">S{{unseen.season | numberFixedLen:2}}E{{unseen.episode | numberFixedLen:2}}</span> - {{unseen.title}}
                            </li>
                        </ul>
                        <hr />
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Mes séries surveillées">
                <md-content class="md-padding">
                    <p>Dans la prochaine mise à jour ;)</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>

<div layout="row" layout-align="center">
  <md-button class="md-raised md-accent" ng-disabled="!user.token || synchroInProgress" ng-click="synchroAll()">Recharger</md-button>
</div>
<br/>
