<div>
  <div layout="row" layout-wrap>
    <div flex="5"></div>
    <div flex="95">
      <h1 class="md-display-1">Réglages</h1>
    </div>

    <div flex="100">
      <md-toolbar class="md-primary md-hue-1">
        <h1 class="md-toolbar-tools">
          Betaseries
        </h1>
      </md-toolbar>

      <md-content layout-padding ng-if="!user.user.login">
        <form>
          <div layout layout-sm="column">
            <md-input-container flex>
              <label>Utilisateur</label>
              <input ng-model="BTnom">
            </md-input-container>
            <md-input-container flex>
              <label>Password</label>
              <input type="password" ng-model="BTpassword">
            </md-input-container>
          </div>
          <div>
            <md-button class="md-raised md-primary" ng-click="connectBetaseries(BTnom, BTpassword)">Se connecter</md-button>
          </div>
        </form>
      </md-content>

      <md-content ng-if="user.user.login" layout-padding>
        <i class="fa fa-check-circle"></i> Vous etes connecté en tant que {{user.user.login}} <br/><br/>
        <md-button ng-click="disconnectBetaseries()" class="md-raised md-primary">Se déconnecter</md-button>
      </md-content>

      <br/>
      <br/>

      <md-toolbar class="md-primary md-hue-1">
        <h1 class="md-toolbar-tools">
          Transmission
        </h1>
      </md-toolbar>

      <md-content ng-if="!transmission.obj" layout-padding>
        <form>
          <div layout layout-sm="column">
            <md-input-container flex>
              <label>Host</label>
              <input ng-model="TRhost">
            </md-input-container>
            <md-input-container flex>
              <label>Port</label>
              <input type="number" ng-model="TRport">
            </md-input-container>
          </div>
          <div>
            <md-button ng-click="connectTransmission(TRhost, TRport)" class="md-raised md-primary">Se connecter</md-button>
          </div>
        </form>
      </md-content>

      <md-content ng-if="transmission.obj" layout-padding>
        <i class="fa fa-check-circle"></i> Vous etes connecté à Transmission <br/><br/>
        <md-button ng-click="disconnectTransmission()" class="md-raised md-primary">Se déconnecter</md-button>
      </md-content>

      <br/>
      <br/>

      <md-toolbar class="md-primary md-hue-1">
        <h1 class="md-toolbar-tools">
          Qualité des épisodes
        </h1>
      </md-toolbar>

      <md-content>
        <form>
          <div layout layout="column">
            <md-radio-group style="border: none;" ng-model="episodeQuality" ng-change="changeQuality(episodeQuality)">
              <md-radio-button value="480p" class="md-primary" ng-selected="episodeQuality == '480p'">480p</md-radio-button>
              <md-radio-button value="720p" class="md-primary" ng-selected="episodeQuality == '720p' || !episodeQuality">720p</md-radio-button>
            </md-radio-group>
          </div>
        </form>
      </md-content>

    </div>
  </div>
</div>