<div>
  <div style="margin-top: 20px" class="page-header">
    <h1 style="margin-top: 0">Réglages</h1>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row">
        <h2>Betaseries</h2>
        <form ng-if="!user.user.login" class="form-horizontal">
          <div class="form-group">
            <label for="BTnom" class="col-sm-2 control-label">Utilisateur</label>
            <div class="col-sm-10">
              <input type="text" ng-model="BTnom" class="form-control" id="BTnom" placeholder="Nom d'utilisateur">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" ng-model="BTpassword" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button ng-click="connectBetaseries(BTnom, BTpassword)" type="submit" class="btn btn-default">Se connecter</button>
            </div>
          </div>
        </form>
        <div ng-if="user.user.login">
          <i class="fa fa-check-circle"></i> Vous etes connecté en tant que {{user.user.login}} <br/>
          <button ng-click="disconnectBetaseries()" class="btn btn-default">Se déconnecter</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row">
        <h2>Transmission</h2>
        <form ng-if="!transmission.obj" class="form-horizontal">
          <div class="form-group">
            <label for="TRhost" class="col-sm-2 control-label">Host</label>
            <div class="col-sm-10">
              <input type="text" ng-model="TRhost" class="form-control" id="TRhost" placeholder="Host">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Port</label>
            <div class="col-sm-10">
              <input type="text" ng-model="TRport" class="form-control" id="TRport" placeholder="Port">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button ng-click="connectTransmission(TRhost, TRport)" type="submit" class="btn btn-default">Se connecter</button>
            </div>
          </div>
        </form>
        <div ng-if="transmission.obj">
          <i class="fa fa-check-circle"></i> Vous etes connecté à Transmission <br/>
          <button ng-click="disconnectTransmission()" class="btn btn-default">Se déconnecter</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row">
        <h2>Qualité des épisodes</h2>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="episodeQuality" class="col-sm-2 control-label">Qualité</label>
            <div class="col-sm-10">
              <select id="episodeQuality" ng-model="episodeQuality" class="form-control" ng-change="changeQuality(episodeQuality)">
                <option value="480p" ng-selected="episodeQuality == '480p'">480p</option>
                <option value="720p" ng-selected="episodeQuality == '720p' || !episodeQuality">720p</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>